@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Regular';
  src: local("Raleway-Regular"),
  url('./asssets/fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Medium';
  src: local("Raleway-Medium"),
  url('./asssets/fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Bold';
  src: local("Raleway-Bold"),
  url('./asssets/fonts/Raleway-Bold.ttf') format('truetype');
}
